<div
    data-pencil-id="irVaR"
    data-pencil-name="referral-system"
    class="box-border w-[1500px] h-[640px] absolute left-[1705px] top-[821px] bg-[#121312ff] overflow-hidden"
  >
    <svg
      data-pencil-id="meVx2"
      data-pencil-name="Ellipse 4"
      viewBox="0 0 840 840"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
      class="box-border w-[1623.564px] h-[919.307px] [transform:rotate(-15deg)] [transform-origin:top_left] [filter:blur(175px)] absolute left-[-661px] top-[-73.791px] overflow-visible [z-index:0]"
    >
      <path
        d="M840 420C840 651.95959 651.95959 840 420 840C188.04041 840 0 651.95959 0 420C0 188.04041 188.04041 0 420 0C651.95959 0 840 188.04041 840 420Z"
        fill="#15433cff"
        fill-rule="nonzero"
      ></path>
    </svg>
    <svg
      data-pencil-id="lxJ9n"
      data-pencil-name="Ellipse 3"
      viewBox="0 0 840 840"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
      class="box-border w-[1231.097px] h-[585.219px] [transform:rotate(-15deg)] [transform-origin:top_left] [filter:blur(175px)] absolute left-[1013px] top-[576.631px] overflow-visible [z-index:1]"
    >
      <path
        d="M840 420C840 651.95959 651.95959 840 420 840C188.04041 840 0 651.95959 0 420C0 188.04041 188.04041 0 420 0C651.95959 0 840 188.04041 840 420Z"
        fill="#15433cff"
        fill-rule="nonzero"
      ></path>
    </svg>
    <div
      data-pencil-id="EOHFZ"
      data-pencil-name="Perps,  on Telegram"
      class="text-[96px]/[117px] box-border w-[630px] [filter:drop-shadow(0px_4px_1.75px_#0000001a)] absolute left-[145px] top-[203px] text-[#ffffffff] font-['Avenir_Next',system-ui,sans-serif] font-bold text-left [z-index:2]"
    >
      Referral System
    </div>
    <div
      data-pencil-id="cjUY8"
      data-pencil-name="message you"
      class="box-border w-[144px] h-fit absolute left-[1170px] top-[-130px] flex flex-row gap-[8px] p-[11px_10px] justify-start items-center bg-[#118263ff] rounded-[80px] [z-index:3]"
    >
      <div
        data-pencil-id="ZmK8c"
        data-pencil-name="/menu"
        class="text-[16px]/[normal] box-border text-[#f4fff9ff] font-['SF_Pro',system-ui,sans-serif] font-medium text-left [white-space:nowrap] relative [z-index:0]"
      >
        /positions
      </div>
      <div
        data-pencil-id="W0HYsK"
        data-pencil-name="Frame 427321886"
        class="box-border w-fit h-fit absolute left-[90px] top-[15px] flex flex-row gap-[4px] justify-start items-center [z-index:1]"
      >
        <div
          data-pencil-id="nV8kE"
          data-pencil-name="16:42"
          class="text-[11px]/[normal] box-border w-[30px] shrink-0 text-[#f4fff966] font-['SF_Pro',system-ui,sans-serif] font-normal text-right"
        >
          16:42
        </div>
        <div
          data-pencil-id="LENjE"
          data-pencil-name="Line / Read Icon"
          class="box-border w-[12px] shrink-0 h-[12px] relative"
        >
          <svg
            data-pencil-id="a11kG"
            data-pencil-name="Vector"
            viewBox="0 0 43 21.5"
            preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg"
            class="box-border w-[10.588px] h-[4.941px] absolute left-[0.706px] top-[3.529px] overflow-visible [z-index:0]"
          >
            <path
              d="M0 13L8 21L29 0M43 0.5L22 21.5L19.5 19"
              fill="none"
              stroke="#ffffffff"
              stroke-width="1"
              stroke-linejoin="miter"
              vector-effect="non-scaling-stroke"
            ></path>
          </svg>
        </div>
      </div>
      <svg
        data-pencil-id="nNfW1"
        data-pencil-name="Vector 13"
        viewBox="0 0 11 15.656221389770508"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
        class="box-border w-[11px] h-[15.656px] absolute left-[137px] top-[17px] overflow-visible [z-index:2]"
      >
        <path
          d="M0 12.5C1.8333334 13.833333 6.5999999 16.299999 11 15.5C8.833333 14.166667 5 9.1999998 7 0L0 12.5Z"
          fill="#118263ff"
        ></path>
      </svg>
    </div>
    <div
      data-pencil-id="x5rvHW"
      data-pencil-name="message"
      class="box-border w-[337px] h-fit absolute left-[944px] top-[-91px] flex flex-col gap-[8px] p-[8px_10px_24px_10px] justify-center items-center bg-[#ffffffff] rounded-[16px_16px_6px_6px] [z-index:4]"
    >
      <div
        data-pencil-id="Mdff9"
        data-pencil-name="⚡️💳Your Quick Trade Templates | Click on a template to create a trade instantly"
        class="text-[17px]/[normal] box-border w-full text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-bold text-left relative [z-index:0]"
      >
        💡💰Active Positions | Click on a position to view more details &amp; actions
      </div>
      <div
        data-pencil-id="mPm60"
        data-pencil-name="16:44"
        class="text-[11px]/[normal] box-border w-[30px] opacity-[0.4] absolute left-[268px] top-[64px] text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-normal text-right [z-index:1]"
      >
        16:44
      </div>
    </div>
    <div
      data-pencil-id="CFgCu"
      data-pencil-name="btn bottom"
      class="box-border w-[337px] h-[42px] opacity-[0.3] [filter:blur(1.75px)] absolute left-[944px] top-[-26px] bg-[#0000002e] rounded-[6px] overflow-hidden [z-index:5]"
    >
      <div
        data-pencil-id="zckOe"
        data-pencil-name="18x ARB Long | 37.13 USDC"
        class="text-[17px]/[24px] box-border absolute left-[130px] top-[15px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
      >
        New Position
      </div>
      <div
        data-pencil-id="HL9sO"
        data-pencil-name="emoji 🆕"
        class="box-border w-[26.25px] h-[26.25px] absolute left-[104px] top-[14.375px] bg-[url('./images/emoji/e_1f195.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
      ></div>
    </div>
    <div
      data-pencil-id="h4wvzx"
      data-pencil-name="btn bottom"
      class="box-border w-[337px] h-[42px] opacity-[0.4] [filter:blur(1.75px)] absolute left-[944px] top-[20px] bg-[#0000002e] rounded-[6px] overflow-hidden [z-index:6]"
    >
      <div
        data-pencil-id="PvAS7"
        data-pencil-name="18x ARB Long | 37.13 USDC"
        class="text-[17px]/[24px] box-border absolute left-[155px] top-[15px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
      >
        See All
      </div>
      <div
        data-pencil-id="Cz15G"
        data-pencil-name="emoji 🌎"
        class="box-border w-[26.25px] h-[26.25px] absolute left-[129px] top-[14.375px] bg-[url('./images/emoji/e_1f30e.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
      ></div>
    </div>
    <div
      data-pencil-id="XFmop"
      data-pencil-name="btn bottom"
      class="box-border w-[337px] h-[42px] opacity-[0.5] [filter:blur(1.75px)] absolute left-[944px] top-[66px] bg-[#0000002e] rounded-[6px_6px_16px_16px] overflow-hidden [z-index:7]"
    >
      <div
        data-pencil-id="XfSmX"
        data-pencil-name="18x ARB Long | 37.13 USDC"
        class="text-[17px]/[24px] box-border absolute left-[139px] top-[15px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
      >
        Logout
      </div>
    </div>
    <div
      data-pencil-id="LYtXU"
      data-pencil-name="Frame 427321891"
      class="box-border w-[444px] h-fit absolute left-[907px] top-[114.5px] flex flex-col gap-[7.2px] justify-start items-end [z-index:8]"
    >
      <div
        data-pencil-id="fDcc7"
        data-pencil-name="message you"
        class="box-border w-[163.2px] h-fit shrink-0 flex flex-row gap-[9.6px] p-[13.2px_12px] justify-start items-center bg-[#118263ff] rounded-[96px] relative"
      >
        <div
          data-pencil-id="haTld"
          data-pencil-name="/menu"
          class="text-[19.2px]/[normal] box-border text-[#f4fff9ff] font-['SF_Pro',system-ui,sans-serif] font-medium text-left [white-space:nowrap] relative [z-index:0]"
        >
          /referrals
        </div>
        <div
          data-pencil-id="z0ZvMa"
          data-pencil-name="Frame 427321886"
          class="box-border w-fit h-fit absolute left-[98.2px] top-[18.4px] flex flex-row gap-[4.8px] justify-start items-center [z-index:1]"
        >
          <div
            data-pencil-id="i2Z8bm"
            data-pencil-name="16:42"
            class="text-[13.2px]/[normal] box-border w-[36px] shrink-0 text-[#f4fff966] font-['SF_Pro',system-ui,sans-serif] font-normal text-right"
          >
            11:31
          </div>
          <div
            data-pencil-id="eA5jO"
            data-pencil-name="Line / Read Icon"
            class="box-border w-[14.4px] shrink-0 h-[14.4px] relative"
          >
            <svg
              data-pencil-id="rTCvM"
              data-pencil-name="Vector"
              viewBox="0 0 43 21.5"
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              class="box-border w-[12.706px] h-[5.929px] absolute left-[0.847px] top-[4.235px] overflow-visible [z-index:0]"
            >
              <path
                d="M0 13L8 21L29 0M43 0.5L22 21.5L19.5 19"
                fill="none"
                stroke="#ffffffff"
                stroke-width="1.2"
                stroke-linejoin="miter"
                vector-effect="non-scaling-stroke"
              ></path>
            </svg>
          </div>
        </div>
        <svg
          data-pencil-id="w3jX6"
          data-pencil-name="Vector 13"
          viewBox="0 0 11 15.656221389770508"
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
          class="box-border w-[13.2px] h-[18.787px] absolute left-[154.6px] top-[20.8px] overflow-visible [z-index:2]"
        >
          <path
            d="M0 12.5C1.8333334 13.833333 6.5999999 16.299999 11 15.5C8.833333 14.166667 5 9.1999998 7 0L0 12.5Z"
            fill="#118263ff"
          ></path>
        </svg>
      </div>
      <div
        data-pencil-id="U3O9Y"
        data-pencil-name="Frame 427321892"
        class="box-border w-full h-fit shrink-0 flex flex-col gap-[9.6px] justify-start items-start"
      >
        <div
          data-pencil-id="iMjDy"
          data-pencil-name="Frame 427321883"
          class="box-border w-[396px] h-fit shrink-0 flex flex-col gap-[4.8px] justify-center items-start"
        >
          <div
            data-pencil-id="r58WIh"
            data-pencil-name="message"
            class="box-border w-[396px] h-fit shrink-0 flex flex-col gap-[9.6px] p-[9.6px_12px_28.8px_12px] justify-center items-center bg-[#ffffffff] rounded-[19.2px_19.2px_7.2px_7.2px] relative"
          >
            <div
              data-pencil-id="RxhAz"
              data-pencil-name="Frame 427321914"
              class="box-border w-full h-fit shrink-0 flex flex-col gap-[5px] justify-start items-start relative [z-index:0]"
            >
              <div
                data-pencil-id="yMjCx"
                data-pencil-name="📣Your Referral Details 🔢 | Number of Referees: 37 💰 | All-Time Earnings: $89,372 💸 | Pending Earnings: $2,862 📅 | Current Epoch: 40 🕗 | Next Payout In: 4 Days"
                class="text-[20.4px]/[normal] box-border w-full text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-normal text-left"
              >
                📣Your Referral Details
                <br />
                <br />
                🔢 | Number of Referees: 37
                <br />
                💰 | All-Time Earnings: $89,372
                <br />
                💸 | Pending Earnings: $2,862
                <br />
                📅 | Current Epoch: 40
                <br />
                🕗 | Next Payout In: 4 Days
              </div>
              <div
                data-pencil-id="HuxUU"
                data-pencil-name="Frame 427321913"
                class="box-border w-full h-fit shrink-0 flex flex-col gap-0 justify-start items-start"
              >
                <div
                  data-pencil-id="hkK2W"
                  data-pencil-name="🔗 | Referral Link:"
                  class="text-[20.4px]/[normal] box-border w-full text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-normal text-left"
                >
                  🔗 | Referral Link:
                </div>
                <div
                  data-pencil-id="k0Nnfr"
                  data-pencil-name="Frame 427321912"
                  class="box-border w-full h-fit shrink-0 flex flex-row gap-0 justify-start items-center"
                >
                  <div
                    data-pencil-id="kFXSl"
                    data-pencil-name="Frame 427321915"
                    class="box-border [flex:1_1_0] h-fit flex flex-row gap-0 justify-start items-center"
                  >
                    <div
                      data-pencil-id="btxKW"
                      data-pencil-name="t.me/"
                      class="text-[20.4px]/[normal] box-border text-[#222222ff] font-['Cutive_Mono',system-ui,sans-serif] font-normal text-left [white-space:nowrap]"
                    >
                      t.me/
                    </div>
                    <div
                      data-pencil-id="jqDXX"
                      data-pencil-name="Safe"
                      class="text-[20.4px]/[normal] box-border text-[#222222ff] font-['Cutive_Mono',system-ui,sans-serif] font-normal text-left [white-space:nowrap]"
                    >
                      Safe
                    </div>
                    <div
                      data-pencil-id="kqlxy"
                      data-pencil-name="_bot?start="
                      class="text-[20.4px]/[normal] box-border [flex:1_1_0] text-[#222222ff] font-['Cutive_Mono',system-ui,sans-serif] font-normal text-left"
                    >
                      _bot?start=
                    </div>
                  </div>
                </div>
                <div
                  data-pencil-id="G0uTon"
                  data-pencil-name="Frame 427321915"
                  class="box-border w-full h-[22px] shrink-0 flex flex-row gap-0 justify-start items-center"
                >
                  <div
                    data-pencil-id="mIwoB"
                    data-pencil-name="5151809664"
                    class="text-[20.4px]/[normal] box-border text-[#222222ff] font-['Cutive_Mono',system-ui,sans-serif] font-normal text-left [white-space:nowrap]"
                  >
                    5151809664
                  </div>
                </div>
              </div>
            </div>
            <div
              data-pencil-id="j4kUtN"
              data-pencil-name="16:44"
              class="text-[13.2px]/[normal] box-border w-[36px] opacity-[0.4] absolute left-[350.4px] top-[288.8px] text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-normal text-right [z-index:1]"
            >
              16:44
            </div>
          </div>
          <div
            data-pencil-id="RE3jm"
            data-pencil-name="Frame 427321884"
            class="box-border w-full h-fit shrink-0 flex flex-row gap-[4.8px] justify-start items-center"
          >
            <div
              data-pencil-id="j6Qf3"
              data-pencil-name="btn left"
              class="box-border w-[195.6px] shrink-0 h-[50.4px] bg-[#0000002e] rounded-[7.2px_7.2px_7.2px_19.2px] overflow-hidden relative"
            >
              <div
                data-pencil-id="hDmC1"
                data-pencil-name="🔙 Back"
                class="text-[20.4px]/[29px] box-border absolute left-[91.8px] top-[17.8px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
              >
                Back
              </div>
              <div
                data-pencil-id="B8PGgf"
                data-pencil-name="emoji 🔙"
                class="box-border w-[31.5px] h-[31.5px] absolute left-[60.8px] top-[17.05px] bg-[url('./images/emoji/e_1f519.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
              ></div>
            </div>
            <div
              data-pencil-id="E6R2aI"
              data-pencil-name="btn right"
              class="box-border w-[195.6px] shrink-0 h-[50.4px] bg-[#0000002e] rounded-[7.2px_7.2px_19.2px_7.2px] overflow-hidden relative"
            >
              <div
                data-pencil-id="CGMkf"
                data-pencil-name="📄 Main Menu"
                class="text-[20.4px]/[29px] box-border absolute left-[65px] top-[17.8px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
              >
                Main Menu
              </div>
              <div
                data-pencil-id="WAQR9"
                data-pencil-name="emoji 📄"
                class="box-border w-[31.5px] h-[31.5px] absolute left-[33px] top-[17.05px] bg-[url('./images/emoji/e_1f4c4.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-pencil-id="zsqGr"
      data-pencil-name="message you"
      class="box-border w-[144px] h-fit opacity-[0.5] [filter:blur(1.75px)] absolute left-[1170px] top-[532px] flex flex-row gap-[8px] p-[11px_10px] justify-start items-center bg-[#118263ff] rounded-[80px] [z-index:9]"
    >
      <div
        data-pencil-id="Wxu5K"
        data-pencil-name="/menu"
        class="text-[16px]/[normal] box-border text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-left [white-space:nowrap] relative [z-index:0]"
      >
        /positions
      </div>
      <div
        data-pencil-id="zfROG"
        data-pencil-name="Frame 427321886"
        class="box-border w-fit h-fit absolute left-[90px] top-[15px] flex flex-row gap-[4px] justify-start items-center [z-index:1]"
      >
        <div
          data-pencil-id="w9GX8o"
          data-pencil-name="16:42"
          class="text-[11px]/[normal] box-border w-[30px] shrink-0 text-[#ffffff66] font-['SF_Pro',system-ui,sans-serif] font-normal text-right"
        >
          16:42
        </div>
        <div
          data-pencil-id="JMvXB"
          data-pencil-name="Line / Read Icon"
          class="box-border w-[12px] shrink-0 h-[12px] relative"
        >
          <svg
            data-pencil-id="N6zKXG"
            data-pencil-name="Vector"
            viewBox="0 0 43 21.5"
            preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg"
            class="box-border w-[10.588px] h-[4.941px] absolute left-[0.706px] top-[3.529px] overflow-visible [z-index:0]"
          >
            <path
              d="M0 13L8 21L29 0M43 0.5L22 21.5L19.5 19"
              fill="none"
              stroke="#ffffffff"
              stroke-width="1"
              stroke-linejoin="miter"
              vector-effect="non-scaling-stroke"
            ></path>
          </svg>
        </div>
      </div>
      <svg
        data-pencil-id="n7blY"
        data-pencil-name="Vector 13"
        viewBox="0 0 11 15.656221389770508"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
        class="box-border w-[11px] h-[15.656px] absolute left-[137px] top-[17px] overflow-visible [z-index:2]"
      >
        <path
          d="M0 12.5C1.8333334 13.833333 6.5999999 16.299999 11 15.5C8.833333 14.166667 5 9.1999998 7 0L0 12.5Z"
          fill="#118263ff"
        ></path>
      </svg>
    </div>
    <div
      data-pencil-id="HFoae"
      data-pencil-name="message"
      class="box-border w-[337px] h-fit opacity-[0.4] [filter:blur(1.75px)] absolute left-[944px] top-[571px] flex flex-col gap-[8px] p-[8px_10px_24px_10px] justify-center items-center bg-[#ffffffff] rounded-[16px_16px_6px_6px] [z-index:10]"
    >
      <div
        data-pencil-id="biVVC"
        data-pencil-name="⚡️💳Your Quick Trade Templates | Click on a template to create a trade instantly"
        class="text-[17px]/[normal] box-border w-full text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-bold text-left relative [z-index:0]"
      >
        💡💰Active Positions | Click on a position to view more details &amp; actions
      </div>
      <div
        data-pencil-id="QpGoW"
        data-pencil-name="16:44"
        class="text-[11px]/[normal] box-border w-[30px] opacity-[0.4] absolute left-[268px] top-[64px] text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-normal text-right [z-index:1]"
      >
        16:44
      </div>
    </div>
    <div
      data-pencil-id="tln5j"
      data-pencil-name="btn bottom"
      class="box-border w-[337px] h-[42px] absolute left-[944px] top-[636px] bg-[#0000002e] rounded-[6px] overflow-hidden [z-index:11]"
    >
      <div
        data-pencil-id="gDKFA"
        data-pencil-name="18x ARB Long | 37.13 USDC"
        class="text-[17px]/[24px] box-border absolute left-[130px] top-[15px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
      >
        New Position
      </div>
      <div
        data-pencil-id="EFeYw"
        data-pencil-name="emoji 🆕"
        class="box-border w-[26.25px] h-[26.25px] absolute left-[104px] top-[14.375px] bg-[url('./images/emoji/e_1f195.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
      ></div>
    </div>
    <div
      data-pencil-id="Hf5EX"
      data-pencil-name="btn bottom"
      class="box-border w-[337px] h-[42px] absolute left-[944px] top-[682px] bg-[#0000002e] rounded-[6px] overflow-hidden [z-index:12]"
    >
      <div
        data-pencil-id="pYTVf"
        data-pencil-name="18x ARB Long | 37.13 USDC"
        class="text-[17px]/[24px] box-border absolute left-[155px] top-[15px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
      >
        See All
      </div>
      <div
        data-pencil-id="hy1Nd"
        data-pencil-name="emoji 🌎"
        class="box-border w-[26.25px] h-[26.25px] absolute left-[129px] top-[14.375px] bg-[url('./images/emoji/e_1f30e.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
      ></div>
    </div>
    <div
      data-pencil-id="VzrSD"
      data-pencil-name="btn bottom"
      class="box-border w-[337px] h-[42px] absolute left-[944px] top-[728px] bg-[#0000002e] rounded-[6px_6px_16px_16px] overflow-hidden [z-index:13]"
    >
      <div
        data-pencil-id="u1nSSc"
        data-pencil-name="18x ARB Long | 37.13 USDC"
        class="text-[17px]/[24px] box-border absolute left-[139px] top-[15px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
      >
        Logout
      </div>
    </div>
  </div>