<div
    data-pencil-id="R6Bij9"
    data-pencil-name="ai-feature"
    class="box-border w-[1500px] h-[640px] absolute left-[1729px] top-[1657px] bg-[#121312ff] overflow-hidden"
  >
    <svg
      data-pencil-id="G97GGs"
      data-pencil-name="Ellipse 5"
      viewBox="0 0 2026 2026"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
      class="box-border w-[1085px] h-[1085px] [filter:blur(153.125px)] absolute left-[207px] top-[-223px] overflow-visible [z-index:0]"
    >
      <path
        d="M2026 1013C2026 1572.4645 1572.4645 2026 1013 2026C453.53552 2026 0 1572.4645 0 1013C0 453.53552 453.53552 0 1013 0C1572.4645 0 2026 453.53552 2026 1013Z"
        fill="#15433cff"
        fill-rule="nonzero"
      ></path>
    </svg>
    <div
      data-pencil-id="N2s0R"
      data-pencil-name="Group 175"
      class="box-border w-[603px] h-[118.558px] absolute left-[473px] top-[53.185px] [z-index:1]"
    >
      <div
        data-pencil-id="g1bDfr"
        data-pencil-name="Perps,  on Telegram"
        class="text-[68.307px]/[83px] box-border [filter:drop-shadow(0px_1.485px_0.65px_#0000001a)] absolute left-[109.068px] top-0 text-[#ffffffff] font-['Avenir_Next',system-ui,sans-serif] font-bold text-center [white-space:nowrap] [z-index:0]"
      >
        Just Say It
      </div>
      <div
        data-pencil-id="nXRth"
        data-pencil-name="Perps,  on Telegram"
        class="text-[31.184px]/[38px] box-border [filter:drop-shadow(0px_1.485px_0.65px_#0000001a)] absolute left-0 top-[80.558px] text-[#ffffff82] font-['Avenir_Next',system-ui,sans-serif] font-bold text-center [white-space:nowrap] [z-index:1]"
      >
        Taking intents to a whole ‘nother level.
      </div>
    </div>
    <div
      data-pencil-id="aN5Cv"
      data-pencil-name="Group 182"
      class="box-border w-[832px] h-[104px] absolute left-[334px] top-[494px] [z-index:2]"
    >
      <div
        data-pencil-id="e9YWL"
        data-pencil-name="Rectangle 27"
        class="box-border w-[832px] h-[104px] [backdrop-filter:blur(7px)] absolute left-0 top-0 bg-[#ffffffcc] rounded-[14px] [z-index:0]"
      ></div>
      <div
        data-pencil-id="eGpVl"
        data-pencil-name="Group 179"
        class="box-border w-[137.562px] h-[60.334px] absolute left-[16.29px] top-[22.927px] [z-index:1]"
      >
        <div
          data-pencil-id="BjkqM"
          data-pencil-name="Rectangle 26"
          class="box-border w-[137.562px] h-[60.334px] absolute left-0 top-0 bg-[#118263ff] rounded-[37.407px] [z-index:0]"
        ></div>
        <div
          data-pencil-id="DFP9w"
          data-pencil-name="Menu"
          class="text-[25.34px]/[31px] box-border absolute left-[52.491px] top-[14.48px] text-[#f4fff9ff] font-['SF_Pro_Text',system-ui,sans-serif] font-normal text-center [white-space:nowrap] [z-index:1]"
        >
          Menu
        </div>
        <div
          data-pencil-id="oVsAQ"
          data-pencil-name="Group 176"
          class="box-border w-[32.581px] h-[18.648px] absolute left-[12.671px] top-[20.513px] [z-index:2]"
        >
          <div
            data-pencil-id="BUvSw"
            data-pencil-name="Rectangle 28"
            class="box-border w-[32.58px] h-[1.864px] absolute left-0 top-0 bg-[#ffffffff] rounded-[24.134px] [z-index:0]"
          ></div>
          <div
            data-pencil-id="n5PO9"
            data-pencil-name="Rectangle 30"
            class="box-border w-[32.58px] h-[1.864px] absolute left-0 top-[8.392px] bg-[#ffffffff] rounded-[24.134px] [z-index:1]"
          ></div>
          <div
            data-pencil-id="x6j43"
            data-pencil-name="Rectangle 29"
            class="box-border w-[32.58px] h-[1.864px] absolute left-0 top-[16.784px] bg-[#ffffffff] rounded-[24.134px] [z-index:2]"
          ></div>
        </div>
      </div>
      <div
        data-pencil-id="BHSTc"
        data-pencil-name="Frame"
        class="box-border w-[68.781px] h-[68.781px] [transform:rotate(45deg)] [transform-origin:top_left] absolute left-[191.023px] top-[3.017px] overflow-hidden [z-index:2]"
      >
        <div
          data-pencil-id="Ywtdu"
          data-pencil-name="SVGRepo_iconCarrier"
          class="box-border w-[26.714px] h-[43.41px] absolute left-[21.034px] top-[18.922px] [z-index:0]"
        >
          <svg
            data-pencil-id="O0Ysr"
            data-pencil-name="Vector"
            viewBox="0 0 57 92.625"
            preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg"
            class="box-border w-[26.714px] h-[43.41px] absolute left-0 top-0 overflow-visible [z-index:0]"
          >
            <path
              d="M22.265625 7.125C14.080853 7.125 7.125 14.181837 7.125 23.293287L7.125 62.754627C7.125 75.498398 16.872047 85.5 28.5 85.5C40.127998 85.5 49.875 75.498398 49.875 62.754627L49.875 23.293287L57 23.293287L57 62.754627C57 79.069931 44.417252 92.625 28.5 92.625C12.582749 92.625 0 79.069931 0 62.754627L0 23.293287C0 10.610692 9.7915068 0 22.265625 0C34.739601 0 44.53125 10.610692 44.53125 23.293287L44.53125 62.754627C44.53125 71.805275 37.531174 79.471306 28.5 79.471306C19.468826 79.471306 12.46875 71.805275 12.46875 62.754627L12.46875 23.293287L19.59375 23.293287L19.59375 62.754627C19.59375 68.233749 23.758551 72.346306 28.5 72.346306C33.241451 72.346306 37.40625 68.233749 37.40625 62.754627L37.40625 23.293287C37.40625 14.181837 30.45035 7.125 22.265625 7.125Z"
              fill="#8e8e93ff"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
      <div
        data-pencil-id="CbOvi"
        data-pencil-name="Group 180"
        class="box-border w-[541.185px] h-[52.491px] absolute left-[194.833px] top-[26.547px] [z-index:3]"
      >
        <div
          data-pencil-id="xnTw5"
          data-pencil-name="Rectangle 31"
          class="box-border w-[513.988px] h-[52.491px] absolute left-[27.197px] top-0 bg-[#ffffffff] rounded-[41.631px] [z-index:0]"
        ></div>
        <div
          data-pencil-id="EDngF"
          data-pencil-name="ape 10x btc ASAP w all my USDC"
          class="text-[25.34px]/[31px] box-border w-[479.393px] absolute left-0 top-[10.86px] text-[#393939ff] font-['SF_Pro_Text',system-ui,sans-serif] font-normal text-center [z-index:1]"
        >
          ape 10x btc ASAP w all my USDC
        </div>
      </div>
      <div
        data-pencil-id="J5hy3"
        data-pencil-name="Group 177"
        class="box-border w-[53.094px] h-[52.491px] absolute left-[755px] top-[26px] [z-index:4]"
      >
        <div
          data-pencil-id="ulSKc"
          data-pencil-name="Rectangle 32"
          class="box-border w-[53.094px] h-[52.491px] absolute left-0 top-0 bg-[#118263ff] rounded-[37.407px] [z-index:0]"
        ></div>
        <svg
          data-pencil-id="bGJwH"
          data-pencil-name="Arrow 3"
          viewBox="0 0 100 1"
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
          class="box-border w-[27.15px] h-[3.017px] [transform:rotate(-90deg)] [transform-origin:top_left] absolute left-[26.547px] top-[39.82px] overflow-visible [z-index:1]"
        >
          <path d="M0 0L100 0" fill="#118263ff"></path>
          <path
            d="M0 0L100 0"
            fill="none"
            stroke="#ffffffff"
            stroke-width="3.017"
            stroke-linejoin="miter"
            vector-effect="non-scaling-stroke"
          ></path>
        </svg>
      </div>
    </div>
    <div
      data-pencil-id="v586U2"
      data-pencil-name="Group 486"
      class="box-border w-[391px] h-[205.005px] absolute left-[555px] top-[229px] [z-index:3]"
    >
      <div
        data-pencil-id="z7NsXu"
        data-pencil-name="Group 53"
        class="box-border w-[390px] h-[55.585px] absolute left-[1px] top-[149.42px] [z-index:0]"
      >
        <div
          data-pencil-id="zj2rz"
          data-pencil-name="Group 34"
          class="box-border w-[390px] h-[55.585px] absolute left-0 top-0 [z-index:0]"
        >
          <div
            data-pencil-id="mJ0jG"
            data-pencil-name="Rectangle 26"
            class="box-border w-[390px] h-[55.585px] absolute left-0 top-0 bg-[#00000026] rounded-[10.422px] [z-index:0]"
          ></div>
          <div
            data-pencil-id="YlxLY"
            data-pencil-name="✅ Confirm"
            class="text-[22.581px]/[normal] box-border absolute left-[176.393px] top-[14.764px] text-[#ffffffff] font-[Inter,system-ui,sans-serif] font-medium text-left [white-space:nowrap] [z-index:1]"
          >
            Confirm
          </div>
          <div
            data-pencil-id="ER2xW"
            data-pencil-name="emoji ✅"
            class="box-border w-[28.35px] h-[28.35px] absolute left-[142.393px] top-[14.089px] bg-[url('./images/emoji/e_2705.png')] bg-no-repeat bg-contain bg-center [z-index:2]"
          ></div>
        </div>
        <div
          data-pencil-id="d5WKJ"
          data-pencil-name="Rectangle 41"
          class="box-border w-[7.911px] h-[8.685px] absolute left-[375.76px] top-[6.949px] [border:1.303px_solid_#ffffffff] rounded-[2.606px] [z-index:1]"
        ></div>
      </div>
      <div
        data-pencil-id="OX5kh"
        data-pencil-name="Message"
        class="box-border w-[390.625px] h-[154.171px] absolute left-0 top-0 [z-index:1]"
      >
        <div
          data-pencil-id="m2gtZ"
          data-pencil-name="Message Card"
          class="box-border w-[390.625px] h-[143.772px] absolute left-0 top-0 bg-[#ffffffff] [outline:0.195px_solid_#b5caddff] rounded-[8.206px] [z-index:0]"
        ></div>
        <div
          data-pencil-id="W79PAv"
          data-pencil-name="What is the most pop"
          class="text-[19.928px]/[24px] box-border w-[343.75px] h-[142.046px] absolute left-[15.625px] top-[12.124px] text-[#000000ff] font-['SF_Pro_Text',system-ui,sans-serif] font-normal text-left [z-index:1]"
        >
          ⭐️ Position Details: WBTC 💎
          <br />
          📊 | Type: Long
          <br />
          💰 | Size: $50,000
          <br />
          🏦 | Collateral: $5000
          <br />
          ⚙️ | Leverage: 10x
        </div>
        <div
          data-pencil-id="YK49s"
          data-pencil-name="11:45"
          class="text-[12.894px]/[normal] box-border w-[38.785px] h-[8.802px] absolute left-[338.672px] top-[115.103px] text-[#8e8e93ff] font-['SF_Pro_Text',system-ui,sans-serif] font-normal italic text-right [z-index:2]"
        >
          11:52
        </div>
      </div>
    </div>
    <div
      data-pencil-id="gmnje"
      data-pencil-name="Group 254"
      class="box-border w-[97.202px] h-[93.747px] absolute left-[716px] top-[413px] [z-index:4]"
    >
      <div
        data-pencil-id="S3x0Js"
        data-pencil-name="Group 251"
        class="box-border w-[29.268px] h-[15.841px] [transform:rotate(27.226deg)] [transform-origin:top_left] [filter:blur(0.656px)] absolute left-[63.248px] top-0 [z-index:0]"
      >
        <svg
          data-pencil-id="gEj5b"
          data-pencil-name="Rectangle 60"
          viewBox="0 0 230.63922119140625 106.73198699951172"
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
          class="box-border w-[29.268px] h-[13.544px] [filter:blur(0.034px)] absolute left-0 top-0 overflow-visible [z-index:0]"
        >
          <path
            d="M0 0L230.63922 3.6379788e-12L230.63922 106.73199L0 106.73199L0 0Z"
            fill="#d9d9d980"
            fill-rule="nonzero"
          ></path>
        </svg>
        <div
          data-pencil-id="LSP06"
          data-pencil-name="10X"
          class="text-[6.607px]/[8px] box-border w-[25.843px] h-[13.077px] absolute left-[2.104px] top-[2.764px] text-[#393939e5] font-['SF_Pro_Display',system-ui,sans-serif] font-bold text-center [z-index:1]"
        >
          10X
        </div>
      </div>
      <div
        data-pencil-id="i8e9Td"
        data-pencil-name="Group 250"
        class="box-border w-[57.599px] h-[30.484px] [transform:rotate(-23.252deg)] [transform-origin:top_left] [filter:blur(0.35px)] absolute left-0 top-[65.738px] [z-index:1]"
      >
        <div
          data-pencil-id="t40qn"
          data-pencil-name="Rectangle 61"
          class="box-border w-[57.599px] h-[26.655px] [filter:blur(0.067px)] absolute left-0 top-0 bg-[#d9d9d980] rounded-[9.191px] [z-index:0]"
        ></div>
        <div
          data-pencil-id="ZoeT0"
          data-pencil-name="$5000"
          class="text-[13.002px]/[16px] box-border w-[50.859px] h-[25.736px] absolute left-[2.911px] top-[4.749px] text-[#393939e5] font-['SF_Pro_Display',system-ui,sans-serif] font-bold text-center [z-index:1]"
        >
          $5000
        </div>
      </div>
      <div
        data-pencil-id="BpZbX"
        data-pencil-name="Group 253"
        class="box-border w-[41.028px] h-[18.987px] [transform:rotate(25.805deg)] [transform-origin:top_left] [filter:blur(0.438px)] absolute left-[60.265px] top-[22.237px] [z-index:2]"
      >
        <div
          data-pencil-id="M6ILZj"
          data-pencil-name="Rectangle 58"
          class="box-border w-[41.028px] h-[18.987px] [filter:blur(0.048px)] absolute left-0 top-0 bg-[#d9d9d980] rounded-[6.547px] [z-index:0]"
        ></div>
        <div
          data-pencil-id="FI5z6"
          data-pencil-name="WBTC"
          class="text-[9.262px]/[11px] box-border w-[36.227px] h-[11.348px] absolute left-[2.4px] top-[3.819px] text-[#393939e5] font-['SF_Pro_Display',system-ui,sans-serif] font-bold text-center [z-index:1]"
        >
          WBTC
        </div>
      </div>
      <div
        data-pencil-id="B4KJq4"
        data-pencil-name="Group 252"
        class="box-border w-[35.66px] h-[16.502px] [transform:rotate(-28.753deg)] [transform-origin:top_left] [filter:blur(0.525px)] absolute left-[6.484px] top-[34.048px] [z-index:3]"
      >
        <div
          data-pencil-id="wGurm"
          data-pencil-name="Rectangle 59"
          class="box-border w-[35.66px] h-[16.502px] [filter:blur(0.041px)] absolute left-0 top-0 bg-[#d9d9d980] rounded-[5.69px] [z-index:0]"
        ></div>
        <div
          data-pencil-id="gc20U"
          data-pencil-name="Market"
          class="text-[8.05px]/[10px] box-border w-[31.487px] h-[9.863px] absolute left-[2.086px] top-[3.035px] text-[#393939e5] font-['SF_Pro_Display',system-ui,sans-serif] font-bold text-center [z-index:1]"
        >
          Market
        </div>
      </div>
    </div>
  </div>