<div
    data-pencil-id="rr9b7"
    data-pencil-name="traders-tracker"
    class="box-border w-[1500px] h-[640px] absolute left-[1729px] top-[3248px] bg-[#121312ff] overflow-hidden"
  >
    <div
      data-pencil-id="FvvLL"
      data-pencil-name="Component 2"
      class="box-border w-[950.909px] h-[950.909px] [transform:rotate(0.52deg)] [transform-origin:top_left] opacity-[0.32] absolute left-[710.63px] top-[-149px] [background-image:linear-gradient(-135deg,_#5fddffff_0.187%,_#28f5a4ff_48.007%,_#15fe85ff_99.813%)] bg-no-repeat bg-[length:100%_100%] rounded-[959px] overflow-hidden [z-index:0]"
    >
      <div
        data-pencil-id="E3C71"
        data-pencil-name="image 53"
        class="box-border w-[815.858px] h-[815.858px] absolute left-[64.003px] top-[64.004px] bg-[url('./images/3c6bafb9de31f4ff.png')] bg-no-repeat bg-cover bg-center [z-index:0]"
      ></div>
    </div>
    <svg
      data-pencil-id="i9DQLM"
      data-pencil-name="Ellipse 3"
      viewBox="0 0 840 840"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
      class="box-border w-[1084px] h-[1084px] [filter:blur(153.125px)] absolute left-[208px] top-[-222px] overflow-visible [z-index:1]"
    >
      <path
        d="M840 420C840 651.95959 651.95959 840 420 840C188.04041 840 0 651.95959 0 420C0 188.04041 188.04041 0 420 0C651.95959 0 840 188.04041 840 420Z"
        fill="#15433cff"
        fill-rule="nonzero"
      ></path>
    </svg>
    <div
      data-pencil-id="Racna"
      data-pencil-name="Group 490"
      class="box-border w-[718px] h-[489.094px] absolute left-[391px] top-[75px] [z-index:2]"
    >
      <div
        data-pencil-id="UdPSP"
        data-pencil-name="Perps,  on Telegram"
        class="box-border w-[718px] h-[90px] absolute left-0 top-0 [z-index:0]"
      >
        <div
          data-pencil-id="I1fuj"
          data-pencil-name="Perps,  on Telegram"
          class="text-[84px]/[103px] box-border [filter:drop-shadow(0px_4px_1.75px_#0000001a)] absolute left-0 top-0 text-[#ffffffff] font-['Avenir_Next',system-ui,sans-serif] font-bold text-left [white-space:nowrap] [z-index:0]"
        >
          Traders Tracker 🕵️
        </div>
      </div>
      <div
        data-pencil-id="f6Ws0"
        data-pencil-name="Group 126"
        class="box-border w-[390.5px] h-[359.094px] absolute left-[164px] top-[130px] [z-index:1]"
      >
        <div
          data-pencil-id="flnVt"
          data-pencil-name="Message"
          class="box-border w-[390.5px] h-[255.988px] absolute left-0 top-0 [z-index:0]"
        >
          <svg
            data-pencil-id="q8LvGq"
            data-pencil-name="Path"
            viewBox="0 0 390.5 251.247"
            preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg"
            class="box-border w-[390.5px] h-[251.247px] absolute left-0 top-0 overflow-visible [z-index:0]"
          >
            <defs>
              <mask id="mask-q8LvGq-stroke">
                <path
                  d="M391.09259 0l0 248.95651-391.65645 2.88779-0.02877-252.43686 391.68522 0 0 0.59256z m-1.18512 0l0.59256 0 0 0.59256-390.50003 0 0-0.59256 0.59256-0.00007 0.02864 251.24735-0.59256 0.00006-0.00437-0.59254 390.4714-2.87904 0.00436 0.59254-0.59256 0 0-248.3683z"
                  fill="#fff"
                ></path>
                <path
                  d="M390.50003 0l0 248.3683-390.47139 2.87904-0.02864-251.24734 390.50003 0z"
                  fill="#000"
                  fill-rule="evenodd"
                ></path>
              </mask>
            </defs>
            <path
              d="M390.50003 0l0 248.3683-390.47139 2.87904-0.02864-251.24734 390.50003 0z"
              fill="#ffffffff"
              fill-rule="evenodd"
            ></path>
            <path
              d="M391.09259 0l0 248.95651-391.65645 2.88779-0.02877-252.43686 391.68522 0 0 0.59256z m-1.18512 0l0.59256 0 0 0.59256-390.50003 0 0-0.59256 0.59256-0.00007 0.02864 251.24735-0.59256 0.00006-0.00437-0.59254 390.4714-2.87904 0.00436 0.59254-0.59256 0 0-248.3683z"
              fill="#b5caddff"
              mask="url(#mask-q8LvGq-stroke)"
            ></path>
          </svg>
          <div
            data-pencil-id="QdvlI"
            data-pencil-name="What is the most pop"
            class="text-[20.147px]/[26px] box-border w-[304.645px] h-[248.877px] absolute left-[16.617px] top-[7.111px] text-[#000000ff] font-['SF_Pro_Text',system-ui,sans-serif] font-normal tracking-[-0.474px] text-left [z-index:1]"
          >
            🕵️‍♂️🔔 | Your Tracked Traders
            <br />
            You can track other users, or addresses - and get notified about their each and every
            move 👀
            <br />
            <br />
            1) @sifu
            <br />
            2) @perpiepapa
            <br />
            3) 0x973...FD1
          </div>
          <div
            data-pencil-id="S2ymI"
            data-pencil-name="11:45"
            class="text-[13.036px]/[normal] box-border w-[38.773px] absolute left-[335.11px] top-[222.804px] text-[#8e8e93ff] font-['SF_Pro_Text',system-ui,sans-serif] font-normal italic text-right [z-index:2]"
          >
            11:45
          </div>
        </div>
        <div
          data-pencil-id="B66bV"
          data-pencil-name="Group 122"
          class="box-border w-[191.991px] h-[49.775px] absolute left-0 top-[254.803px] [z-index:1]"
        >
          <div
            data-pencil-id="gTtEh"
            data-pencil-name="Rectangle 16"
            class="box-border w-[191.991px] h-[49.775px] absolute left-0 top-0 bg-[#0000003d] rounded-[9.481px] [z-index:0]"
          ></div>
          <div
            data-pencil-id="FSXsG"
            data-pencil-name="🔙 Back"
            class="text-[17.777px]/[normal] box-border absolute left-[90.997px] top-[14.221px] text-[#ffffffff] font-['SF_Pro_Text',system-ui,sans-serif] font-medium text-right [white-space:nowrap] [z-index:1]"
          >
            Back
          </div>
          <div
            data-pencil-id="s0uSGP"
            data-pencil-name="emoji 🔙"
            class="box-border w-[25.2px] h-[25.2px] absolute left-[63.997px] top-[13.621px] bg-[url('./images/emoji/e_1f519.png')] bg-no-repeat bg-contain bg-center [z-index:2]"
          ></div>
        </div>
        <div
          data-pencil-id="xWOgg"
          data-pencil-name="Group 123"
          class="box-border w-[191.991px] h-[49.775px] absolute left-[1.185px] top-[308.133px] [z-index:2]"
        >
          <div
            data-pencil-id="VSgzx"
            data-pencil-name="Rectangle 16"
            class="box-border w-[191.991px] h-[49.775px] absolute left-0 top-0 bg-[#0000003d] rounded-[9.481px] [z-index:0]"
          ></div>
          <div
            data-pencil-id="COFth"
            data-pencil-name="➕ Add Trader"
            class="text-[17.777px]/[normal] box-border absolute left-[63.739px] top-[14.222px] text-[#ffffffff] font-['SF_Pro_Text',system-ui,sans-serif] font-medium text-right [white-space:nowrap] [z-index:1]"
          >
            Add Trader
          </div>
          <div
            data-pencil-id="BdniH"
            data-pencil-name="emoji ➕"
            class="box-border w-[25.2px] h-[25.2px] absolute left-[36.739px] top-[13.622px] bg-[url('./images/emoji/e_2795.png')] bg-no-repeat bg-contain bg-center [z-index:2]"
          ></div>
        </div>
        <div
          data-pencil-id="XTSh8"
          data-pencil-name="Group 124"
          class="box-border w-[191.991px] h-[49.775px] absolute left-[195.546px] top-[309.319px] [z-index:3]"
        >
          <div
            data-pencil-id="JdTRr"
            data-pencil-name="Rectangle 16"
            class="box-border w-[191.991px] h-[49.775px] absolute left-0 top-0 bg-[#0000003d] rounded-[9.481px] [z-index:0]"
          ></div>
          <div
            data-pencil-id="y3aqh"
            data-pencil-name="❌ Remove Trader"
            class="text-[17.777px]/[normal] box-border absolute left-[47.147px] top-[14.222px] text-[#ffffffff] font-['SF_Pro_Text',system-ui,sans-serif] font-medium text-right [white-space:nowrap] [z-index:1]"
          >
            Remove Trader
          </div>
          <div
            data-pencil-id="HZDj6"
            data-pencil-name="emoji ❌"
            class="box-border w-[25.2px] h-[25.2px] absolute left-[20.147px] top-[13.622px] bg-[url('./images/emoji/e_274c.png')] bg-no-repeat bg-contain bg-center [z-index:2]"
          ></div>
        </div>
        <div
          data-pencil-id="Dmt7S"
          data-pencil-name="Group 125"
          class="box-border w-[191.991px] h-[49.775px] absolute left-[195.546px] top-[254.803px] [z-index:4]"
        >
          <div
            data-pencil-id="d4G3uU"
            data-pencil-name="Rectangle 16"
            class="box-border w-[191.991px] h-[49.775px] absolute left-0 top-0 bg-[#0000003d] rounded-[9.481px] [z-index:0]"
          ></div>
          <div
            data-pencil-id="v3mAE"
            data-pencil-name="📄 Main Menu"
            class="text-[17.777px]/[normal] box-border absolute left-[64.924px] top-[14.221px] text-[#ffffffff] font-['SF_Pro_Text',system-ui,sans-serif] font-medium text-right [white-space:nowrap] [z-index:1]"
          >
            Main Menu
          </div>
          <div
            data-pencil-id="VKWV1"
            data-pencil-name="emoji 📄"
            class="box-border w-[25.2px] h-[25.2px] absolute left-[37.924px] top-[13.621px] bg-[url('./images/emoji/e_1f4c4.png')] bg-no-repeat bg-contain bg-center [z-index:2]"
          ></div>
        </div>
      </div>
    </div>
  </div>