<div
    data-pencil-id="u1FJb"
    data-pencil-name="batch-transactions"
    class="box-border w-[1500px] h-[640px] absolute left-[130px] top-[3248px] bg-[#121312ff] overflow-hidden"
  >
    <svg
      data-pencil-id="K96aql"
      data-pencil-name="Ellipse 3"
      viewBox="0 0 840 840"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
      class="box-border w-[1231.097px] h-[535.699px] [transform:rotate(-15deg)] [transform-origin:top_left] [filter:blur(175px)] absolute left-[520px] top-[560.631px] overflow-visible [z-index:0]"
    >
      <path
        d="M840 420C840 651.95959 651.95959 840 420 840C188.04041 840 0 651.95959 0 420C0 188.04041 188.04041 0 420 0C651.95959 0 840 188.04041 840 420Z"
        fill="#15433cff"
        fill-rule="nonzero"
      ></path>
    </svg>
    <svg
      data-pencil-id="uE3ax"
      data-pencil-name="Ellipse 4"
      viewBox="0 0 840 840"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
      class="box-border w-[1231.097px] h-[535.699px] [transform:rotate(-15deg)] [transform-origin:top_left] [filter:blur(175px)] absolute left-[-630px] top-[43.631px] overflow-visible [z-index:1]"
    >
      <path
        d="M840 420C840 651.95959 651.95959 840 420 840C188.04041 840 0 651.95959 0 420C0 188.04041 188.04041 0 420 0C651.95959 0 840 188.04041 840 420Z"
        fill="#15433cff"
        fill-rule="nonzero"
      ></path>
    </svg>
    <div
      data-pencil-id="nLU4r"
      data-pencil-name="Perps,  on Telegram"
      class="text-[96px]/[117px] box-border w-[630px] [filter:drop-shadow(0px_4px_1.75px_#0000001a)] absolute left-[120px] top-[203px] text-[#ffffffff] font-['Avenir_Next',system-ui,sans-serif] font-bold text-left [z-index:2]"
    >
      Batch Transactions
    </div>
    <div
      data-pencil-id="eQZEB"
      data-pencil-name="Frame 427321905"
      class="box-border w-[556.05px] h-fit absolute left-[837.325px] top-[114px] flex flex-col gap-[6px] justify-start items-center [z-index:3]"
    >
      <div
        data-pencil-id="BJfrE"
        data-pencil-name="message"
        class="box-border w-[404.4px] h-fit shrink-0 opacity-[0.6] [filter:blur(1.094px)] flex flex-col gap-[9.6px] p-[9.6px_12px_28.8px_12px] justify-center items-center bg-[#ffffffff] rounded-[19.2px_19.2px_7.2px_7.2px] relative"
      >
        <div
          data-pencil-id="Z4wr6"
          data-pencil-name="⚡️💳Your Quick Trade Templates | Click on a template to create a trade instantly"
          class="text-[20.4px]/[normal] box-border w-full text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-bold text-left relative [z-index:0]"
        >
          💡💰Active Positions | Click on a position to view more details &amp; actions
        </div>
        <div
          data-pencil-id="v7YTB"
          data-pencil-name="16:44"
          class="text-[11px]/[normal] box-border w-[30px] opacity-[0.4] absolute left-[268px] top-[64px] text-[#222222ff] font-['SF_Pro',system-ui,sans-serif] font-normal text-right [z-index:1]"
        >
          16:44
        </div>
      </div>
      <div
        data-pencil-id="N5YwVm"
        data-pencil-name="Frame 427321904"
        class="box-border w-fit h-fit shrink-0 opacity-[0.8] [filter:blur(0.656px)] flex flex-row gap-[5.4px] justify-start items-center"
      >
        <div
          data-pencil-id="aDPAL"
          data-pencil-name="btn left"
          class="box-border w-[224.775px] shrink-0 h-[56.7px] bg-[#0000002e] rounded-[8.1px] overflow-hidden relative"
        >
          <div
            data-pencil-id="r6Z4mL"
            data-pencil-name="🔙 Back"
            class="text-[22.95px]/[32px] box-border absolute left-[106.4px] top-[19.9px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
          >
            Back
          </div>
          <div
            data-pencil-id="p7beM"
            data-pencil-name="emoji 🔙"
            class="box-border w-[34.65px] h-[34.65px] absolute left-[71.4px] top-[19.075px] bg-[url('./images/emoji/e_1f519.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
          ></div>
        </div>
        <div
          data-pencil-id="RoMlF"
          data-pencil-name="btn right"
          class="box-border w-[224.775px] shrink-0 h-[56.7px] bg-[#0000002e] rounded-[8.1px] overflow-hidden relative"
        >
          <div
            data-pencil-id="L4kYB"
            data-pencil-name="📄 Main Menu"
            class="text-[22.95px]/[32px] box-border absolute left-[76px] top-[19.9px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
          >
            Main Menu
          </div>
          <div
            data-pencil-id="i0KqT"
            data-pencil-name="emoji 📄"
            class="box-border w-[34.65px] h-[34.65px] absolute left-[41px] top-[19.075px] bg-[url('./images/emoji/e_1f4c4.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
          ></div>
        </div>
      </div>
      <div
        data-pencil-id="Nq7j1"
        data-pencil-name="btn bottom"
        class="box-border w-[556.05px] h-[69.3px] shrink-0 bg-[#0000003d] rounded-[9.9px] overflow-hidden relative"
      >
        <div
          data-pencil-id="TdaG4"
          data-pencil-name="18x ARB Long | 37.13 USDC"
          class="text-[28.05px]/[39px] box-border absolute left-[248.65px] top-[25.1px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
        >
          Close All
        </div>
        <div
          data-pencil-id="N2fpp"
          data-pencil-name="emoji 🚫"
          class="box-border w-[42px] h-[42px] absolute left-[206.65px] top-[24.1px] bg-[url('./images/emoji/e_1f6ab.png')] bg-no-repeat bg-contain bg-center [z-index:1]"
        ></div>
      </div>
      <div
        data-pencil-id="mmGa2"
        data-pencil-name="btn bottom"
        class="box-border w-[505.5px] h-[63px] shrink-0 opacity-[0.8] [filter:blur(0.438px)] bg-[#0000002e] rounded-[9px] overflow-hidden relative"
      >
        <div
          data-pencil-id="VE3U9"
          data-pencil-name="18x ARB Long | 37.13 USDC"
          class="text-[25.5px]/[36px] box-border absolute left-[32.5px] top-[23px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
        >
          💎ARB | 💰$34.92 | 🏗️18.3264x | 📉-$...
        </div>
      </div>
      <div
        data-pencil-id="X3IsVZ"
        data-pencil-name="btn bottom"
        class="box-border w-[454.95px] h-[56.7px] shrink-0 opacity-[0.6] [filter:blur(0.972px)] bg-[#0000002e] rounded-[8.1px] overflow-hidden relative"
      >
        <div
          data-pencil-id="mglj0"
          data-pencil-name="18x ARB Long | 37.13 USDC"
          class="text-[22.95px]/[32px] box-border absolute left-[20.35px] top-[19.9px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium tracking-[-0.405px] text-center [white-space:nowrap] [z-index:0]"
        >
          💎BTC | 💰$1.750 | 🏗️12x | 📉+$112 (+8%)
        </div>
      </div>
      <div
        data-pencil-id="OBsCt"
        data-pencil-name="btn bottom"
        class="box-border w-[404.4px] h-[50.4px] shrink-0 opacity-[0.3] [filter:blur(2.188px)] bg-[#0000002e] rounded-[7.2px_7.2px_19.2px_19.2px] overflow-hidden relative"
      >
        <div
          data-pencil-id="aFSR2"
          data-pencil-name="18x ARB Long | 37.13 USDC"
          class="text-[20.4px]/[29px] box-border absolute left-[11.2px] top-[17.8px] text-[#ffffffff] font-['SF_Pro',system-ui,sans-serif] font-medium text-center [white-space:nowrap] [z-index:0]"
        >
          💎LINK | 💰$210 | 🏗️6x | 📉-$105 (-50%)
        </div>
      </div>
    </div>
  </div>