<div
    data-pencil-id="W8XBCF"
    data-pencil-name="logo"
    class="box-border w-[347px] h-[347px] absolute left-[5600px] top-[3221px]"
  >
    <div
      data-pencil-id="XcEhV"
      data-pencil-name="logo"
      class="box-border w-[347px] h-[347px] absolute left-0 top-0 [background-image:linear-gradient(-135deg,_#5fddffff_0.187%,_#28f5a4ff_48.007%,_#15fe85ff_99.813%)] bg-no-repeat bg-[length:100%_100%] rounded-[347px] overflow-hidden [z-index:0]"
    >
      <div
        data-pencil-id="Eg3fQ"
        data-pencil-name="image 53"
        class="box-border w-[345.7px] h-[345.7px] absolute left-[-0.15px] top-[-0.15px] bg-[url('./images/3c6bafb9de31f4ff.png')] bg-no-repeat bg-cover bg-center [z-index:0]"
      ></div>
    </div>
  </div>